@model List<UserStock>
@{
    ViewData["Title"] = "Мой портфель";
    HttpClient _httpClient = new HttpClient();

    string url1 = "https://iss.moex.com/iss/engines/stock/markets/shares/boards/TQBR/securities.json?iss.meta=off&iss.only=marketdata&marketdata.columns=SECID";
    string url2 = "https://iss.moex.com/iss/engines/stock/markets/shares/boards/TQBR/securities.json?iss.meta=off&iss.only=marketdata&marketdata.columns=LAST,LASTCHANGEPRCNT";
    var root1 = await _httpClient.GetFromJsonAsync<MarketDataRoot1>(url1);
    var root2 = await _httpClient.GetFromJsonAsync<MarketDataRoot2>(url2);

    double? currentPrice = 0, lastChange = 0; string sign = "+"; string color = "#11c700";
    double difference = 0;
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true"/>
<div align="center" width="100%">
    @if (Model != null) {
        <form name="customer_data" method="POST">
            <table id="catTable" class="securities" align="center" border="1">
                <caption><h3>Мой портфель</h3></caption>
                <thead>
                    <tr height="35">
                        <th width="200" data-sort='0'>Наименование</th>
                        <th width="120" data-sort='1'>Текущая цена</th>
                        <th width="120" data-sort='2'>Цена покупки</th>
                        <th width="120" data-sort='3'>Изменение</th>
                        <th width="120" data-sort='4'>Последнее изменение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dbRow in Model)
                    {
                        @for (int i = 0; i < root1.marketdata.data.Count; i++)
                        {
                            if (dbRow.SecId == root1.marketdata.data[i][0]) //(root1 != null || root2 != null) && 
                            {
                                currentPrice = root2.marketdata.data[i][0];
                                if (currentPrice != null)
                                    difference = Math.Round((double)currentPrice / dbRow.PurchasePrice * 100, 2) - 100;
                                lastChange = root2.marketdata.data[i][1];

                                if (difference > 0) { color = "#11c700"; sign = "+"; }
                                else { color = "red"; sign = ""; }

                                <tr align="center">
                                    <td>@dbRow.SecId</td>
                                    <td>@currentPrice</td>
                                    <td>@dbRow.PurchasePrice</td>
                                    <td style="color: @color;">@sign@difference%</td>
                                    
                                    @if (lastChange > 0) { color = "#11c700"; sign = "+"; }
                                    else { color = "red"; sign = ""; }

                                    <td style="color: @color;">@sign@lastChange%</td>
                                </tr>
                            }
                        }
                    }
            </tbody>
        </table>
        @*<h2>@Model[0].SecId</h2>
        <h2>@Model[1].SecId</h2>*@
        
    </form>
    }
</div>

