@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<link rel="stylesheet" href="~/css/sign.css" asp-append-version="true"/>
<div width="100%" align="center">
<form method="POST">
    <table class="forma" border="0">
    <tr height="100">
        <td colspan="2">
        <h2>Регистрация</h2>
        </td>
    </tr>
    <tr>
        <td><h4>Логин:</h4></td>
        <td><input class="textBox" type="text" name="Login" value="@Model.Email"></td>
    </tr>
    <tr>
        <td><h4 class="textlabel">Имя:</h4></td>
        <td><input class="textBox" size="15" type="text" name="Name" value="@Model.Name"></td>
    </tr>
    <tr>
        <td><h4 class="textlabel">Пароль:</h4></td>
        <td> <input class="textBox" size="15" type="password" name="Password" value="@Model.Password"></td>
    </tr>
    <tr>
        <td><h4 class="textlabel">Повтор пароля:</h4></td>
        <td><input class="textBox" size="15" type="password" name="PasswordConfirm" value="@Model.PasswordConfirm"></td>
    </tr>
    <tr>
        <td colspan="2" align="center">
        <button class="submit" type="submit" value="1" name="send">Зарегистрироваться</button>
        <p>Есть аккаунт? <a href="@Url.Action("Login")">Войдите</a></p>
        </td>
    </tr>
    <tr height="70">
        <td colspan="2"><center><font size="1" color="red">@ViewData["Error"]</font></center></td>
    </tr>
    </table>
</form>
</div>