@model RecomendModel
@{
    ViewData["Title"] = "Собрать портфель";
    double sharesCosts = 0, sharesSale = 0, sharesIncome = 0, 
    bondsCosts = 0, bondsSale = 0, bondsIncome = 0;
    foreach (var row in Model.SharesList)
    {
        sharesCosts += row.LastPrice * row.Amount;
        sharesSale += row.ForecastedPrice * row.Amount;
    }
    sharesIncome = sharesSale - sharesCosts;
    
    foreach (var row in Model.BondsList)
    {
        bondsCosts += row.LastPrice * row.Amount;
        bondsSale += row.ForecastedPrice * row.Amount;
    }
    bondsIncome = bondsSale - bondsCosts;
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />

<div class="params" align="center" width="100%">
    <form method="post">
        <h2>Подбор портфеля</h2>
        
        <table class="params" border="0">
            <tr>
                <th align="left" width="300">Сумма инвестирования: </th>
                <td align="right"><input name="investSum" class="long" value="@Model.InvestSum" type="number" min="1000" max="1000000"/> RUB</td>
            </tr>
            <tr>
                <th align="left">Период инвестирования:</th> 
                <td align="right"><input name="months" class="short" value="@Model.Months" type="number" min="1" max="24"/> месяцев</td>
            </tr>
        </table>
        <br/>
     
        <table class="params"  style="border: 3px solid #a4dede; border-radius: 10px;">
            <tr align="center">
                <td width="100"><h5>Акции</h5>
                    <input id="shares" name="sharesPercent" readonly class="short percent" value="@Model.SharesPercent"/>
                    <font color="#f56816" size="2">% &nbsp</font>
                </td>
                <td width="350px">
                    <input class="slider" id="slider" type="range" min="0" max="100" step="5" value="@Model.BondsPercent" oninput="sliderSize()">
                </td>
                <td width="100"><h5>Облигации</h5>
                    <input id="bonds" name="bondsPercent" readonly class="short percent" type="text" value="@Model.BondsPercent"/>
                    <font color="#f56816" size="2">% &nbsp</font>
                </td>

            </tr>
        </table>
      
        <button type="submit" name="setPortfolio" value="1">Сформировать</button>
    
<br/>

@if (Model.SharesList.Count > 0)
{
    <table width="900">
        <tr>
            <td><h2>Акции:</h2></td>
        </tr>
    </table>
    <table id="sharesTable" class="recomend" border="1">
        <thead>
            <tr height="50">
                <th>Наименование</th>
                <th>Текущая цена</th>
                <th>Вероятная цена</th>
                <th>Вероятный доход с одной бумаги</th>
                <th>Количество активов</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Вероятный доход</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.SharesList)
            {
                <tr>
                    <td>@p.SecId</td>
                    <td>@p.LastPrice</td>
                    <td>@p.ForecastedPrice</td>
                    <td>@p.Income</td>
                    <td>@p.Amount</td>
                    <td><font color="orange">@p.Buy</font></td>
                    <td><font color="#a1cf23">@p.Sale</font></td>
                    <td><font color="green">@p.TotalIncome</font></td>
                </tr>
            }
            <tr> 
                <td colspan="5"><b>ИТОГО по акциям:</b></td>
                <td><font color="orange"><b>@Math.Round(sharesCosts, 2)</b></font></td>
                <td><font color="#a1cf23"><b>@Math.Round(sharesSale, 2)</b></font></td>
                <td><font color="green"><b>+@Math.Round(sharesIncome, 2)</b></font></td>
            </tr>
        </tbody>
    </table>
}
@if (Model.BondsList.Count > 0)
{
    <table width="900">
        <tr>
            <td><h2>Облигации:</h2></td>
        </tr>
    </table>
    <table id="bondsTable" class="recomend" border="1">
        <thead>
            <tr height="50">
                <th>Наименование</th>
                <th>Текущая цена</th>
                <th>Вероятная цена</th>
                <th>Вероятный доход с одной бумаги</th>
                <th>Количество активов</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Вероятный доход</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.BondsList)
            {
                <tr>
                    <td>@p.SecId</td>
                    <td>@p.LastPrice</td>
                    <td>@p.ForecastedPrice</td>
                    <td>@p.Income</td>
                    <td>@p.Amount</td>
                    <td><font color="orange">@p.Buy</font></td>
                    <td><font color="green">@p.Sale</font></td>
                    <td><font color="green">@p.TotalIncome</font></td>
                </tr>
            }
            <tr> 
                <td colspan="5"><b>ИТОГО по облигациям:</b></td>
                <td><font color="orange"><b>@Math.Round(bondsCosts, 2)</b></font></td>
                <td><font color="green"><b>@Math.Round(bondsSale, 2)</b></font></td>
                <td><font color="green"><b>+@Math.Round(bondsIncome, 2)</b></font></td>
            </tr>
        </tbody>
    </table>
}
        @if (Model.BondsList.Count == 0 && Model.SharesList.Count == 0)
        {
            <br/><br/><br/><br/><br/><br/>
        }
    </form>
</div>

<script>
    
    function sliderSize() {
      let shares = document.getElementById("shares");
      let bonds = document.getElementById("bonds");
      let slider = document.getElementById("slider");
      shares.value = 100 - slider.value;
      bonds.value = slider.value;
    }

    document.addEventListener('DOMContentLoaded', init, false);

    function init() {
  
    }
</script>