@model RecomendModel
@{
    ViewData["Title"] = "Подбор портфеля";
}
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
<div align="center" width="100%">
    <h2>Подбор портфеля</h2>
    <form method="post">
        <table class="params" border="0">
            <tr>
                <th align="left" width="300">Сумма инвестирования: </th>
                <td><input name="investSum" class="long" value="1000" type="number" min="1000" max="1000000"/> RUB</td>
            </tr>
            <tr>
                <th align="left">Период инвестирования:</th> 
                <td><input name="months" class="short" value="12" type="number" min="1" max="24"/> месяцев</td>
            </tr>
        </table>
        <br/>

        <table class="params" style="border: 3px solid #a4dede; border-radius: 10px;">
            <tr align="center">
                <td width="100"><h5>Акции</h5>
                    <input id="shares" readonly class="short percent" value="50" width="50"/><font color="#f56816" size="2">% &nbsp</font>
                </td>
                <td><input class="slider" id="slider" type="range" min="0" max="100" step="5" value="50" oninput="sliderSize()"></td>
                <td width="100"><h5>Облигации</h5>
                    <input id="bonds" readonly class="short percent" type="text" value="50"/><font color="#f56816" size="2">% &nbsp</font>
                </td>
            </tr>
        </table>
        <button type="submit" name="setPortfolio" value="1">Сформировать</button>
    </form>
    <br/>

@if (Model.SharesList.Count > 0)
{
    <table class="recomend" border="1">
        <thead>
            <tr height="50">
                <th>Наименование</th>
                <th>Текущая цена</th>
                <th>Вероятная цена</th>
                <th>Потенциальный доход с одной бумаги</th>
                <th>Количество актива</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Потенциальный доход</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.SharesList)
            {
                <tr>
                    <td>@p.SecId</td>
                    <td>@p.LastPrice</td>
                    <td>@p.ForecastedPrice</td>
                    <td>@p.Income</td>
                    <td>@p.Amount</td>
                    <td>@p.Buy</td>
                    <td>@p.Sale</td>
                    <td>@p.TotalIncome</td>
                </tr>
            }
        </tbody>
        <tfoot>
            @*<tr> ДОБАВИТЬ ЧЕРЕЗ JS
                <td colspan="5">ИТОГО по акциям:</td>
                    
                <td>
                    @Model.TotalCosts
                </td>
                <td>
                    @Model.TotalIncome
                </td>
            </tr>*@
        </tfoot>
        </table>
}
@if (Model.BondsList.Count > 0)
{
    <table class="recomend" border="1">
        <thead>
            <tr height="50">
                <th>Наименование</th>
                <th>Текущая цена</th>
                <th>Вероятная цена</th>
                <th>Потенциальный доход с одной бумаги</th>
                <th>Количество актива</th>
                <th>Покупка</th>
                <th>Продажа</th>
                <th>Потенциальный доход</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.BondsList)
            {
                <tr>
                    <td>@p.SecId</td>
                    <td>@p.LastPrice</td>
                    <td>@p.ForecastedPrice</td>
                    <td>@p.Income</td>
                    <td>@p.Amount</td>
                    <td>@p.Buy</td>
                    <td>@p.Sale</td>
                    <td>@p.TotalIncome</td>
                </tr>
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>
}
</div>

<script>
    
    function sliderSize() {
      let shares = document.getElementById("shares");
      let bonds = document.getElementById("bonds");
      let slider = document.getElementById("slider");
      shares.value = 100 - slider.value;
      bonds.value = slider.value;
    }
</script>


                    <table class="params" border="0">
                <tr>
                    <th align="left" width="300">Сумма инвестирования: </th>
                    <td>
                        <input name="investSum" class="short" value="1000" type="number"/>
                        @*<input name="investSum" class="long" value="1000" type="number" min="1000" max="1000000"/> RUB*@
                    </td>
                </tr>
                <tr>
                    <th align="left">Период инвестирования:</th> 
                    <td>
                        <input name="investSum" class="short" value="1000" type="number"/>
                        @*<input name="time" class="short" value="12" type="number" min="1" max="24"/> месяцев*@
                    </td>
                </tr>
            </table>